body {
    margin: 0;
    background-color: #dadada;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    text-align: center;
}

.calc {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;  
    padding: 30px 10px ;
    border-radius: 5%;
}

.display {
    color: #f4f4f4;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    width: 240px;
    align-items: end;
    justify-content: end;
    padding-right: 40px;
    margin: 0px 20px; 
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
    justify-content: center;
    align-items: space-between;
    gap: 5px;
}

button {
    background-color: #686868;
    color: #ffffff;
    font-size: 24px;
    font-weight: lighter;
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    border-radius: 100%;
    border-width: 0px;
    transition-duration: 0.4s;
}

button:hover {
    opacity: 0.6;
}

.functions button {
    padding: 10px;
    background-color: #ffa500;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.numbers #clear, #neg, #perc {
    padding: 10px 10px;
    border-radius: 80%;
    text-align: center;
    background-color: #a7a7a7;
    color: black;
}

.functions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.gitlogo {
    display: flex;
    align-items: center;
    width: 50px;
}

a {
    text-decoration: none;
    color: rgb(219, 141, 15);
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 249, 240);
    text-align: center;
}

img {
    max-width: 30%;
    height: auto;
}